* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-family: 'montserrat', sans-serif;
}

body {
    background-color: rgb(5, 5, 27);
}

/* CONTENT LEFT*/

.section-1 {
    height: 100vh;
}

.section-mini-1 {
    width: 1120px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.nav-barre {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 13%;
    z-index: 1;
    padding: 15px;
}

.logo-magicmanhype{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-magicmanhype-items {
    width: 250px;
    cursor: pointer;
}

.nav_barre_items {
    margin-left: 4em;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_barre_items li a{
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    padding: 0px 30px;
    letter-spacing: 1px;
    white-space: nowrap;
    transition: all .3s;
}

.nav_barre_items li a:hover{
    text-shadow:0 0 0.3em rgb(255, 255, 255);
    transform: scale(2, 0.5);
}

.icon-barre {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    animation: icon-opacity 1.1s ease-in-out ;
    margin: 0px 10px;
}

.icon-barre img{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 48px;
    cursor: pointer;
    opacity: 0.7 ;
    padding: 0px 10px;
    
}

.icon-barre img:hover {
    animation: icon-opacity .3s forwards;
}

@keyframes  icon-opacity{
    form {
        opacity : 0.7;
    }
    to {
        opacity: 1;
    }
}

.button-mint-global {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 25px;
    
}


.button-mint {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    color: white;
    padding: 7px 5px;
    width: 100px;
    height: 37px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 30px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
    transition: all .4s;
    letter-spacing: 1px;
}

.button-mint::after {
    content: "";
    width: 100px;
    height: 100px;
    background: linear-gradient(225deg, rgba(39, 200, 255) 25%,  rgba(143, 64, 248) 75%);
    position: absolute;
    top: -32px;
    z-index: -1;
    transition: all .4s;
}

.button-mint:hover::after {
    transform: rotate(150deg);
}

.button-mint:hover {
    transform: translate(0, -4px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}


.cote-left .magicmanclub-title {
    position: absolute;
    top: 106px;
    font-size: 39px;
    width: 315px;
    font-weight: 700;
    left: 10px;
}

.cote-left .description-1 {
    position: absolute;
    top: 168px;
    font-size: 20px;
    font-weight: 600;
    width: 437px;
    left: 10px;
}

.cote-left .description-2 {
    position: absolute;
    top: 250px;
    width: 443px;
    font-size: 15px;
    opacity: 0.3;
    left: 10px;
}

/*BOUTON DISCORD ET MINT */

/* BOUTON MINT*/

.button-mint-global2 {
    width: 24%;    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 23.5em;
    left: 10px
}

.button-mint2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    color: white;
    padding: 7px 5px;
    width: 114px;
    height: 39px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 30px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
    transition: all .4s;
    letter-spacing: 1px;
    margin-right: 20px;
    text-decoration: none;
}

.button-mint2::after {
    content: "";
    width: 120px;
    height: 120px;
    background: linear-gradient(225deg, rgba(39, 200, 255) 25%,  rgba(143, 64, 248) 75%);
    position: absolute;
    top: -40px;
    left: -4px;
    z-index: -1;
    transition: all .4s;
}

.button-mint2:hover::after {
    transform: rotate(150deg);
}

.button-mint2:hover {
    transform: translate(0, -4px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}

/* BOUTON DISCORD*/

.button-discord {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    color: white;
    padding: 7px 5px;
    width: 114px;
    height: 39px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 30px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
    transition: all .4s;
    letter-spacing: 1px;
    margin-right: 20px;
    text-decoration: none;
}

.button-discord::after{
    content: "";
    width: 140px;
    height: 140px;
    background: linear-gradient(225deg, rgba(39, 200, 255) 25%,  rgba(143, 64, 248) 75%);
    position: absolute;
    left: -20px;
    top: -44px;
    z-index: -1;
    transition: all .4s;
}

.button-discord:hover::after {
    transform: rotate(150deg);
}

.button-discord:hover {
    transform: translate(0, -4px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}

/*SECTION 1*/

/* LES ELEMENTS RIGHT*/

.cote-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    right: 120px;
}

.big-carre {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    content: "";
    background-color: rgba(63, 63, 63, 0.14);
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transform: rotateX(60deg) rotateZ(45deg);
    position: relative;
    padding: 16px;
    top: -121px;
}

.big-carre .mini-carre1 {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(140, 52, 255, 0.801) ;
    width: 87%;
    height: 87%;
    border-radius: 5px;
    
}

.big-carre .mini-carre1 img {
    display: flex;
    transform: rotate(-45deg) rotateX(0deg) rotateZ(0deg) rotateY(55deg);
    width: 130px;
    position: absolute;
    top: 67px;
    left: 83px;
    right: 75px;
    bottom: 75px;
}

.mini-carre2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    content: "";
    background-color: rgba(63, 63, 63, 0.14);
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transform: rotateX(60deg) rotateZ(45deg);
    position: relative;
    top: 20px;
    padding: 16px;
}

.mini-carre2 .mini-carre-item {
    content: "";
    background: linear-gradient(225deg, rgba(49, 57, 177, 0.863) 0%, rgba(72, 255, 246, 0.801) 100%);
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 5px;
}

.mini-carre2 .mini-carre-item img {
    width: 75px;
    transform: rotate(-45deg) rotateX(0deg) rotateZ(0deg) rotateY(55deg);
    margin: 10px;
}

.mini-carre3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    content: "";
    background-color: rgba(63, 63, 63, 0.14);
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transform: rotateX(60deg) rotateZ(45deg);
    position: relative;
    top: 159px;
    padding: 16px;
}

.mini-carre3 .mini-carre-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    background: linear-gradient(225deg,rgba(72, 255, 246, 0.801) 0%,  rgba(141, 19, 255, 0.863) 100%);        
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 5px;
    position: relative;
}

.mini-carre3 .mini-carre-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    background: linear-gradient(225deg,rgba(72, 255, 246, 0.801) 0%,  rgba(141, 19, 255, 0.863) 100%);        
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 5px;
    position: relative;
}

.mini-carre3 .mini-carre-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    background: linear-gradient(225deg,rgba(72, 255, 246, 0.801) 0%,  rgba(141, 19, 255, 0.863) 100%);       
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 5px;
    position: relative;
}

.mini-carre3 .mini-carre-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    background: linear-gradient(225deg,rgba(72, 255, 246, 0.801) 0%,  rgba(141, 19, 255, 0.863) 100%);        
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 5px;
    position: relative;
}

.mini-carre3 .mini-carre-item1 img {
    transform: rotate(-45deg) rotateX(0deg) rotateZ(0deg) rotateY(55deg);
    width: 80px;
    position: absolute;
}

.mini-carre3 .mini-carre-item2 img {
    transform: rotate(-45deg) rotateX(0deg) rotateZ(0deg) rotateY(55deg);
    width: 80px;
    position: absolute;
}

.mini-carre3 .mini-carre-item3 img {
    transform: rotate(-45deg) rotateX(0deg) rotateZ(0deg) rotateY(55deg);
    width: 80px;
    position: absolute;
}

.mini-carre3 .mini-carre-item4 img {
    transform: rotate(-45deg) rotateX(0deg) rotateZ(0deg) rotateY(55deg);
    width: 80px;
    position: absolute;
}

.big-carre {
    position: absolute;
    opacity: 0;
    z-index: 3;
    animation: hamberger-top 1.9s ease-in-out forwards ;
}

@keyframes hamberger-top {
    form{
        opacity: 0;
        transform:translateY(0%) rotateX(60deg) rotateZ(45deg);

    }
    to {
        opacity: 1;
        transform:translateY(30%) rotateX(60deg) rotateZ(45deg);
    }
}

.mini-carre2 {
    position: absolute;
    opacity: 0;
    z-index: 2;
    animation: hamberger-center 1.6s ease-in-out forwards;
}

@keyframes hamberger-center {
    form{
        opacity: 0;
        transform: translateY(0) rotateX(60deg) rotateZ(45deg);

    }
    to {
        opacity: 1;
        transform: translateY(30%) rotateX(60deg) rotateZ(45deg);
    }
}

.mini-carre3 {
    position: absolute;
    opacity: 0; 
    z-index:1; 
    animation: hamberger-bottom 1.3s ease-in-out forwards;
}

@keyframes hamberger-bottom {
    form{
        opacity: 0;
        transform:translateY(0%) rotateX(60deg) rotateZ(45deg);
    }
    to {
        opacity: 1;
        transform:translateY(30%) rotateX(60deg) rotateZ(45deg);
    }
}

.hr-fin-section1 {
    content: "";
    background-color: white;
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: -3em;
    left: 5%;
    right: 5%;
}

/*SECTION 2*/

.section-2 {
    height: 120vh;
}

.section-mini-2 {
    width: 1120px;
    height: 120vh;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.hr-fin-section2 {
    content: "";
    background-color: white;
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: -51em;
    left: 5%;
    right: 5%;
}

/*SECTION 3*/

.section-3 {
    height: 145vh;
}

.section_mini_3 {
    width:  1120px;
    height: 100vh;
    margin: 0 auto;
    display: block;
    position: relative;
}

/*TITRE ET DISCRIPTION DE ROADMAP*/

.en-tete-roadmap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.title-roadmap{
    width: 100%;
    font-weight: 700;
    font-size: 28px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 10px
}

.description-roadmap {
    display: flex;
    justify-content: center;
    font-size: 15px;
    opacity: 0.4;
    width: 537px;
    margin-top: 25px;
}

/*LA ROADMAP ET LES ICONES*/

.fenetre-roadmap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 30px;
    position: relative;
}

.premiere-ligne-icon {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 16%;
    position: relative;
    top: -7em;
}

.premiere-ligne-a {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 170px;
}


.premiere-ligne-a a {
    text-align: center;
    width: 192px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}



.child-1::before {
    content: "";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 221px;
    height: 150px;
    border-radius: 20px;
    border: solid 2px rgb(172, 82, 255);
    background-color: rgb(172, 82, 255, 0.1);
    position: absolute;
    left: 26px;
    top: -47px;
}

.child-2::before {
    content: "";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 221px;
    height: 150px;
    border-radius: 20px;
    border: solid 2px rgb(60, 250, 102);
    background-color: rgb(60, 250, 102, 0.1);
    position: absolute;
    left: 307px;
    top: -47px;
}

.child-3::before {
    content: "";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 221px;
    height: 150px;
    border-radius: 20px;
    border: solid 2px rgb(255, 95, 95);
    background-color:rgb(255, 95, 95, 0.1);
    position: absolute;
    right: 307px;
    top: -47px;
}

.child-4::before {
    content: "";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 221px;
    height: 150px;
    border-radius: 20px;
    border: solid 2px rgb(92, 108, 247);
    background-color: rgb(92, 108, 247, 0.1);
    position: absolute;
    right: 26px;
    top: -47px;
}

.premiere-ligne-icon .icon-violet, .icon-vert,
 .icon-rouge, .icon-bleu  {
    width: 60px;
}

.deuxieme-ligne-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 16%;
    position: relative;
    bottom: 7em;
}

.deuxieme-ligne-icon img {
    width: 60px;
}

.deuxieme-ligne-a {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 68px;
}

.deuxieme-ligne-a a {
    text-align: center;
    width: 176px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.deuxieme-ligne-a a:nth-child(2) {
    width:183px;
}


.child-5::before {
    content: "";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 221px;
    height: 150px;
    border-radius: 20px;
    border: solid 2px rgb(255, 133, 34);
    background-color: rgba(255, 133, 34, 0.137);
    position: absolute;
    left: 26px;
    top: -34px;
}

.child-6::before {
    content: "";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 221px;
    height: 150px;
    border-radius: 20px;
    border: solid 2px rgb(255, 108, 255);
    background-color: rgb(255, 108, 255, 0.1);
    position: absolute;
    left: 307px;
    top: -34px;
}

.child-7::before {
    content: "";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 221px;
    height: 150px;
    border-radius: 20px;
    border: solid 2px rgb(255, 253, 108);
    background-color: rgb(255, 253, 108, 0.1);
    position: absolute;
    right: 307px;
    top: -34px;
    box-shadow:0px 0px 0.5em rgb(0, 0, 0);
}

.child-8::before {
    content: "";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 221px;
    height: 150px;
    border-radius: 20px;
    border: solid 2px rgb(106, 255, 230);
    background-color: rgb(106, 255, 230, 0.1);
    position: absolute;
    right: 26px;
    top: -34px;
}

.hr-fin-section3 {
    content: "";
    background-color: white;
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: -109em;
    left: 5%;
    right: 5%;
}